.whatsapp-float{
    position: fixed;
    bottom: 50px;
    left: 50px;
    background: #25d366;
    color: #FFF;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: all 0.3s ease;
}

.whatsapp-float:hover{
    transform: scale(1.1);
}